{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Intesume</title>
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>Intesume</h1>
    </header>
    {% for panel in panels %}
    {% if panel.order == 1 %}
    <div class="grey-panel-wrapper">
        <div class="panel hero">
            <div class="img-wrapper">
                <img src="{% static "img/mascot.jpg" %}">
            </div>
            <div class="side-wrapper">
                {{panel.html|safe}}
            </div>  
        </div>
    </div>
    {% else %}
    <div class="{% cycle 'purple' 'grey' %}-panel-wrapper">
        <div class="panel">
            {{panel.html|safe}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>